@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body,
ul {
    padding: 0;
    margin: 0;
}

.header-container,
.information-container,
.call-container {
    padding: 20px 250px;
}

.logo,
.title {
    color: #f9faf8;
}

ul,
.description,
.header {
    color: #e5e7eb;
}

.header-container {
    display: flex;
    height: 550px;
    background-color: #1F2937;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: 900;
}

ul {
    display: flex;
    list-style: none;
    gap: 22px;
    align-items: center;
    font-size: 18px;
}

.hero {
    margin-bottom: 80px;
    display: flex;
    gap: 100px;
    align-items: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.hero div {
    flex: 1;
}

.title {
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.description {
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.signup {
  background-color: #3882f6;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  width: 150px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.signup:hover,
.signup:focus {
  background-color: #619bf7;
}

img {
    max-width: 100%;
    min-width: 10%;
    height: auto;
}

a { text-decoration: none; color: #e5e7eb;}
a:visited { text-decoration: none; color: #e5e7eb;}
a:hover { text-decoration: none; color: #e5e7eb;}
a:focus { text-decoration: none; color: #e5e7eb;}
a:hover, a:active { text-decoration: none; color: #e5e7eb;}

.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 450px;
}

.image-text,
.information-header,
.quote {
    color: #1F2937;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
}

.information-images {
    display: flex;
    gap: 60px;
}

.image-container {
    display: flex;
    flex-direction: column;
    max-width: 150px;
}

.image {
    height: 150px;
    width: 150px;
    border: 4px #3882f6 solid;
    border-radius: 15px;
    padding: 0;
    margin: 0;
}

.image-text {
    font-size: 15px;
    text-align: center;
}


.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    background-color: #e5e7eb;
    padding: 50px 350px;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    text-align: left;
    padding: 0;
    margin: 0;
}

.author {
    align-self: flex-end;
    font-size: 30px;
    padding: 0;
    margin: 0;
    margin-right: 30px;
    margin-top: 20px;
    font-weight: 700;
}

.call-container {
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.call {
    background-color: #3882f6;
    display: flex;
    flex: auto;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 20px;
}

.call div {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    font-size: 20px;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.call-to-action {
    font-size: 30px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.call div p {
    padding: 0;
    margin: 0;
}


.call .signup {
    border: #f9faf8 solid 2px;
}

.footer {
    height: 80px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #f9faf8;
    font-size: 20px;
}